@import './variables';
@import './reset';

body {
  font-family: $font;
}

.wrapper {
  padding: 4em;
  background: $background;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  .image {
    margin: 1em auto;
    display: block;
  }
}
